<p>
<label for="settings_default_sent_to_email"><%= h l(:label_default_sent_to_email) %>:</label>
<%= text_field_tag('settings[default_sent_to_email]', @settings['default_sent_to_email']) %>
</p>
</p>
